{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://lambda.amazonaws.com/"
        },
        {
            "url": "http://lambda.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS Lambda</fullname> <p> <b>Overview</b> </p> <p>This is the <i>AWS Lambda API Reference</i>. The AWS Lambda Developer Guide provides additional information. For the service overview, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/welcome.html\">What is AWS Lambda</a>, and for information about how the service works, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">AWS Lambda: How it Works</a> in the <b>AWS Lambda Developer Guide</b>.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Lambda",
        "version": "2015-03-31",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/lambda-2015-03-31.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "lambda"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/lambda/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/2014-11-13/functions/{FunctionName}/invoke-async/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<important> <p>For asynchronous function invocation, use <a>Invoke</a>.</p> </important> <p>Invokes a function asynchronously.</p>",
                "operationId": "InvokeAsync",
                "parameters": [
                    {
                        "in": "path",
                        "name": "FunctionName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A success response (<code>202 Accepted</code>) indicates that the request is queued for invocation. ",
                                    "example": {
                                        "Status": 123
                                    },
                                    "properties": {
                                        "Status": {
                                            "description": "The status code.",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestContentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidRuntimeException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "FunctionName": "myFunction",
                                    "InvokeArgs": "fileb://file-path/input.json"
                                },
                                "properties": {
                                    "InvokeArgs": {
                                        "description": "The JSON that you want to provide to your Lambda function as input.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "InvokeArgs"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/2015-03-31/event-source-mappings/": {
            "get": {
                "description": "Lists event source mappings. Specify an <code>EventSourceArn</code> to only show event source mappings for a single event source.",
                "operationId": "ListEventSourceMappings",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "MaxItems",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "Marker",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "EventSourceMappings": {
                                            "description": "A list of event source mappings.",
                                            "items": {
                                                "description": "A mapping between an AWS resource and an AWS Lambda function. See <a>CreateEventSourceMapping</a> for details.",
                                                "example": {
                                                    "BatchSize": 123,
                                                    "EventSourceArn": "arn:aws:s3:::examplebucket/*",
                                                    "FunctionArn": "arn:aws:lambda:us-west-2:123456789012:function:myFunction",
                                                    "LastModified": "2016-11-21T19:49:20.006+0000",
                                                    "LastProcessingResult": "",
                                                    "State": "",
                                                    "StateTransitionReason": "",
                                                    "UUID": "1234xCy789012"
                                                },
                                                "properties": {
                                                    "BatchSize": {
                                                        "description": "The maximum number of items to retrieve in a single batch.",
                                                        "maximum": 10000,
                                                        "minimum": 1,
                                                        "type": "integer"
                                                    },
                                                    "EventSourceArn": {
                                                        "description": "The Amazon Resource Name (ARN) of the event source.",
                                                        "pattern": "arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)",
                                                        "type": "string"
                                                    },
                                                    "FunctionArn": {
                                                        "description": "The ARN of the Lambda function.",
                                                        "pattern": "arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}(-gov)?-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
                                                        "type": "string"
                                                    },
                                                    "LastModified": {
                                                        "description": "The date that the event source mapping was last updated.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "LastProcessingResult": {
                                                        "description": "The result of the last AWS Lambda invocation of your Lambda function.",
                                                        "type": "string"
                                                    },
                                                    "State": {
                                                        "description": "The state of the event source mapping. It can be one of the following: <code>Creating</code>, <code>Enabling</code>, <code>Enabled</code>, <code>Disabling</code>, <code>Disabled</code>, <code>Updating</code>, or <code>Deleting</code>.",
                                                        "type": "string"
                                                    },
                                                    "StateTransitionReason": {
                                                        "description": "The cause of the last state change, either <code>User initiated</code> or <code>Lambda initiated</code>.",
                                                        "type": "string"
                                                    },
                                                    "UUID": {
                                                        "description": "The identifier of the event source mapping.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextMarker": {
                                            "description": "A pagination token that's returned when the response doesn't contain all event source mappings.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a mapping between an event source and an AWS Lambda function. Lambda reads items from the event source and triggers the function.</p> <p>For details about each event source type, see the following topics.</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-kinesis.html\">Using AWS Lambda with Amazon Kinesis</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-sqs.html\">Using AWS Lambda with Amazon SQS</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-ddb.html\">Using AWS Lambda with Amazon DynamoDB</a> </p> </li> </ul>",
                "operationId": "CreateEventSourceMapping",
                "responses": {
                    "202": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A mapping between an AWS resource and an AWS Lambda function. See <a>CreateEventSourceMapping</a> for details.",
                                    "example": {
                                        "BatchSize": 123,
                                        "EventSourceArn": "arn:aws:s3:::examplebucket/*",
                                        "FunctionArn": "arn:aws:lambda:us-west-2:123456789012:function:myFunction",
                                        "LastModified": "2016-11-21T19:49:20.006+0000",
                                        "LastProcessingResult": "",
                                        "State": "",
                                        "StateTransitionReason": "",
                                        "UUID": "1234xCy789012"
                                    },
                                    "properties": {
                                        "BatchSize": {
                                            "description": "The maximum number of items to retrieve in a single batch.",
                                            "maximum": 10000,
                                            "minimum": 1,
                                            "type": "integer"
                                        },
                                        "EventSourceArn": {
                                            "description": "The Amazon Resource Name (ARN) of the event source.",
                                            "pattern": "arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)",
                                            "type": "string"
                                        },
                                        "FunctionArn": {
                                            "description": "The ARN of the Lambda function.",
                                            "pattern": "arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}(-gov)?-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
                                            "type": "string"
                                        },
                                        "LastModified": {
                                            "description": "The date that the event source mapping was last updated.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "LastProcessingResult": {
                                            "description": "The result of the last AWS Lambda invocation of your Lambda function.",
                                            "type": "string"
                                        },
                                        "State": {
                                            "description": "The state of the event source mapping. It can be one of the following: <code>Creating</code>, <code>Enabling</code>, <code>Enabled</code>, <code>Disabling</code>, <code>Disabled</code>, <code>Updating</code>, or <code>Deleting</code>.",
                                            "type": "string"
                                        },
                                        "StateTransitionReason": {
                                            "description": "The cause of the last state change, either <code>User initiated</code> or <code>Lambda initiated</code>.",
                                            "type": "string"
                                        },
                                        "UUID": {
                                            "description": "The identifier of the event source mapping.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "BatchSize": {
                                        "description": "<p>The maximum number of items to retrieve in a single batch.</p> <ul> <li> <p> <b>Amazon Kinesis</b> - Default 100. Max 10,000.</p> </li> <li> <p> <b>Amazon DynamoDB Streams</b> - Default 100. Max 1,000.</p> </li> <li> <p> <b>Amazon Simple Queue Service</b> - Default 10. Max 10.</p> </li> </ul>",
                                        "maximum": 10000,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "Enabled": {
                                        "description": "Disables the event source mapping to pause polling and invocation.",
                                        "type": "boolean"
                                    },
                                    "EventSourceArn": {
                                        "description": "<p>The Amazon Resource Name (ARN) of the event source.</p> <ul> <li> <p> <b>Amazon Kinesis</b> - The ARN of the data stream or a stream consumer.</p> </li> <li> <p> <b>Amazon DynamoDB Streams</b> - The ARN of the stream.</p> </li> <li> <p> <b>Amazon Simple Queue Service</b> - The ARN of the queue.</p> </li> </ul>",
                                        "pattern": "arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)",
                                        "type": "string"
                                    },
                                    "FunctionName": {
                                        "description": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>MyFunction</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p> </li> <li> <p> <b>Version or Alias ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction:PROD</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it's limited to 64 characters in length.</p>",
                                        "maxLength": 140,
                                        "minLength": 1,
                                        "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
                                        "type": "string"
                                    },
                                    "StartingPosition": {
                                        "description": "The position in a stream from which to start reading. Required for Amazon Kinesis and Amazon DynamoDB Streams sources. <code>AT_TIMESTAMP</code> is only supported for Amazon Kinesis streams.",
                                        "enum": [
                                            "TRIM_HORIZON",
                                            "LATEST",
                                            "AT_TIMESTAMP"
                                        ],
                                        "type": "string"
                                    },
                                    "StartingPositionTimestamp": {
                                        "description": "With <code>StartingPosition</code> set to <code>AT_TIMESTAMP</code>, the time from which to start reading.",
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "EventSourceArn",
                                    "FunctionName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/2015-03-31/event-source-mappings/{UUID}": {
            "delete": {
                "description": "Deletes an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/intro-invocation-modes.html\">event source mapping</a>. You can get the identifier of a mapping from the output of <a>ListEventSourceMappings</a>.",
                "operationId": "DeleteEventSourceMapping",
                "parameters": [
                    {
                        "in": "path",
                        "name": "UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A mapping between an AWS resource and an AWS Lambda function. See <a>CreateEventSourceMapping</a> for details.",
                                    "example": {
                                        "BatchSize": 123,
                                        "EventSourceArn": "arn:aws:s3:::examplebucket/*",
                                        "FunctionArn": "arn:aws:lambda:us-west-2:123456789012:function:myFunction",
                                        "LastModified": "2016-11-21T19:49:20.006+0000",
                                        "LastProcessingResult": "",
                                        "State": "",
                                        "StateTransitionReason": "",
                                        "UUID": "1234xCy789012"
                                    },
                                    "properties": {
                                        "BatchSize": {
                                            "description": "The maximum number of items to retrieve in a single batch.",
                                            "maximum": 10000,
                                            "minimum": 1,
                                            "type": "integer"
                                        },
                                        "EventSourceArn": {
                                            "description": "The Amazon Resource Name (ARN) of the event source.",
                                            "pattern": "arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)",
                                            "type": "string"
                                        },
                                        "FunctionArn": {
                                            "description": "The ARN of the Lambda function.",
                                            "pattern": "arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}(-gov)?-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
                                            "type": "string"
                                        },
                                        "LastModified": {
                                            "description": "The date that the event source mapping was last updated.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "LastProcessingResult": {
                                            "description": "The result of the last AWS Lambda invocation of your Lambda function.",
                                            "type": "string"
                                        },
                                        "State": {
                                            "description": "The state of the event source mapping. It can be one of the following: <code>Creating</code>, <code>Enabling</code>, <code>Enabled</code>, <code>Disabling</code>, <code>Disabled</code>, <code>Updating</code>, or <code>Deleting</code>.",
                                            "type": "string"
                                        },
                                        "StateTransitionReason": {
                                            "description": "The cause of the last state change, either <code>User initiated</code> or <code>Lambda initiated</code>.",
                                            "type": "string"
                                        },
                                        "UUID": {
                                            "description": "The identifier of the event source mapping.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "UUID": "12345kxodurf3443"
                                },
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Returns details about an event source mapping. You can get the identifier of a mapping from the output of <a>ListEventSourceMappings</a>.",
                "operationId": "GetEventSourceMapping",
                "parameters": [
                    {
                        "in": "path",
                        "name": "UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A mapping between an AWS resource and an AWS Lambda function. See <a>CreateEventSourceMapping</a> for details.",
                                    "example": {
                                        "BatchSize": 123,
                                        "EventSourceArn": "arn:aws:s3:::examplebucket/*",
                                        "FunctionArn": "arn:aws:lambda:us-west-2:123456789012:function:myFunction",
                                        "LastModified": "2016-11-21T19:49:20.006+0000",
                                        "LastProcessingResult": "",
                                        "State": "",
                                        "StateTransitionReason": "",
                                        "UUID": "1234xCy789012"
                                    },
                                    "properties": {
                                        "BatchSize": {
                                            "description": "The maximum number of items to retrieve in a single batch.",
                                            "maximum": 10000,
                                            "minimum": 1,
                                            "type": "integer"
                                        },
                                        "EventSourceArn": {
                                            "description": "The Amazon Resource Name (ARN) of the event source.",
                                            "pattern": "arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)",
                                            "type": "string"
                                        },
                                        "FunctionArn": {
                                            "description": "The ARN of the Lambda function.",
                                            "pattern": "arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}(-gov)?-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
                                            "type": "string"
                                        },
                                        "LastModified": {
                                            "description": "The date that the event source mapping was last updated.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "LastProcessingResult": {
                                            "description": "The result of the last AWS Lambda invocation of your Lambda function.",
                                            "type": "string"
                                        },
                                        "State": {
                                            "description": "The state of the event source mapping. It can be one of the following: <code>Creating</code>, <code>Enabling</code>, <code>Enabled</code>, <code>Disabling</code>, <code>Disabled</code>, <code>Updating</code>, or <code>Deleting</code>.",
                                            "type": "string"
                                        },
                                        "StateTransitionReason": {
                                            "description": "The cause of the last state change, either <code>User initiated</code> or <code>Lambda initiated</code>.",
                                            "type": "string"
                                        },
                                        "UUID": {
                                            "description": "The identifier of the event source mapping.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "UUID": "123489-xxxxx-kdla8d89d7"
                                },
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "description": "Updates an event source mapping. You can change the function that AWS Lambda invokes, or pause invocation and resume later from the same location.",
                "operationId": "UpdateEventSourceMapping",
                "parameters": [
                    {
                        "in": "path",
                        "name": "UUID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A mapping between an AWS resource and an AWS Lambda function. See <a>CreateEventSourceMapping</a> for details.",
                                    "example": {
                                        "BatchSize": 123,
                                        "EventSourceArn": "arn:aws:s3:::examplebucket/*",
                                        "FunctionArn": "arn:aws:lambda:us-west-2:123456789012:function:myFunction",
                                        "LastModified": "2016-11-21T19:49:20.006+0000",
                                        "LastProcessingResult": "",
                                        "State": "",
                                        "StateTransitionReason": "",
                                        "UUID": "1234xCy789012"
                                    },
                                    "properties": {
                                        "BatchSize": {
                                            "description": "The maximum number of items to retrieve in a single batch.",
                                            "maximum": 10000,
                                            "minimum": 1,
                                            "type": "integer"
                                        },
                                        "EventSourceArn": {
                                            "description": "The Amazon Resource Name (ARN) of the event source.",
                                            "pattern": "arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)",
                                            "type": "string"
                                        },
                                        "FunctionArn": {
                                            "description": "The ARN of the Lambda function.",
                                            "pattern": "arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}(-gov)?-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
                                            "type": "string"
                                        },
                                        "LastModified": {
                                            "description": "The date that the event source mapping was last updated.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "LastProcessingResult": {
                                            "description": "The result of the last AWS Lambda invocation of your Lambda function.",
                                            "type": "string"
                                        },
                                        "State": {
                                            "description": "The state of the event source mapping. It can be one of the following: <code>Creating</code>, <code>Enabling</code>, <code>Enabled</code>, <code>Disabling</code>, <code>Disabled</code>, <code>Updating</code>, or <code>Deleting</code>.",
                                            "type": "string"
                                        },
                                        "StateTransitionReason": {
                                            "description": "The cause of the last state change, either <code>User initiated</code> or <code>Lambda initiated</code>.",
                                            "type": "string"
                                        },
                                        "UUID": {
                                            "description": "The identifier of the event source mapping.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ResourceConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "BatchSize": 123,
                                    "Enabled": true,
                                    "FunctionName": "myFunction",
                                    "UUID": "1234xCy789012"
                                },
                                "properties": {
                                    "BatchSize": {
                                        "description": "<p>The maximum number of items to retrieve in a single batch.</p> <ul> <li> <p> <b>Amazon Kinesis</b> - Default 100. Max 10,000.</p> </li> <li> <p> <b>Amazon DynamoDB Streams</b> - Default 100. Max 1,000.</p> </li> <li> <p> <b>Amazon Simple Queue Service</b> - Default 10. Max 10.</p> </li> </ul>",
                                        "maximum": 10000,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "Enabled": {
                                        "description": "Disables the event source mapping to pause polling and invocation.",
                                        "type": "boolean"
                                    },
                                    "FunctionName": {
                                        "description": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>MyFunction</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p> </li> <li> <p> <b>Version or Alias ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction:PROD</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it's limited to 64 characters in length.</p>",
                                        "maxLength": 140,
                                        "minLength": 1,
                                        "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/2015-03-31/functions": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a Lambda function. To create a function, you need a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/deployment-package-v2.html\">deployment package</a> and an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/intro-permission-model.html#lambda-intro-execution-role\">execution role</a>. The deployment package contains your function code. The execution role grants the function permission to use AWS services, such as Amazon CloudWatch Logs for log streaming and AWS X-Ray for request tracing.</p> <p>A function has an unpublished version, and can have published versions and aliases. The unpublished version changes when you update your function's code and configuration. A published version is a snapshot of your function code and configuration that can't be changed. An alias is a named resource that maps to a version, and can be changed to map to a different version. Use the <code>Publish</code> parameter to create version <code>1</code> of your function from its initial configuration.</p> <p>The other parameters let you configure version-specific and function-level settings. You can modify version-specific settings later with <a>UpdateFunctionConfiguration</a>. Function-level settings apply to both the unpublished and published versions of the function, and include tags (<a>TagResource</a>) and per-function concurrency limits (<a>PutFunctionConcurrency</a>).</p> <p>If another account or an AWS service invokes your function, use <a>AddPermission</a> to grant permission by creating a resource-based IAM policy. You can grant permissions at the function level, on a version, or on an alias.</p> <p>To invoke your function directly, use <a>Invoke</a>. To invoke your function in response to events in other AWS services, create an event source mapping (<a>CreateEventSourceMapping</a>), or configure a function trigger in the other service. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invoking-lambda-functions.html\">Invoking Functions</a>.</p>",
                "operationId": "CreateFunction",
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Details about a function's configuration.",
                                    "example": {
                                        "CodeSha256": "LQT+0DHxxxxcfwLyQjzoEFKZtdqQjHXanlSdfXBlEW0VA=",
                                        "CodeSize": 123,
                                        "Description": "",
                                        "FunctionArn": "arn:aws:lambda:us-west-2:123456789012:function:myFunction",
                                        "FunctionName": "myFunction",
                                        "Handler": "index.handler",
                                        "LastModified": "2016-11-21T19:49:20.006+0000",
                                        "MemorySize": 128,
                                        "Role": "arn:aws:iam::123456789012:role/lambda_basic_execution",
                                        "Runtime": "python2.7",
                                        "Timeout": 123,
                                        "Version": "1",
                                        "VpcConfig": {}
                                    },
                                    "properties": {
                                        "CodeSha256": {
                                            "description": "The SHA256 hash of the function's deployment package.",
                                            "type": "string"
                                        },
                                        "CodeSize": {
                                            "description": "The size of the function's deployment package, in bytes.",
                                            "type": "integer"
                                        },
                                        "DeadLetterConfig": {
                                            "description": "The function's dead letter queue.",
                                            "properties": {
                                                "TargetArn": {
                                                    "description": "The Amazon Resource Name (ARN) of an Amazon SQS queue or Amazon SNS topic.",
                                                    "pattern": "(arn:(aws[a-zA-Z-]*)?:[a-z0-9-.]+:.*)|()",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Description": {
                                            "description": "The function's description.",
                                            "maxLength": 256,
                                            "minLength": 0,
                                            "type": "string"
                                        },
                                        "Environment": {
                                            "description": "The function's environment variables.",
                                            "properties": {
                                                "Error": {
                                                    "description": "Error messages for environment variables that couldn't be applied.",
                                                    "properties": {
                                                        "ErrorCode": {
                                                            "description": "The error code.",
                                                            "type": "string"
                                                        },
                                                        "Message": {
                                                            "description": "The error message.",
                                                            "format": "password",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "Variables": {
                                                    "description": "Environment variable key-value pairs.",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "format": "password",
                                                                "pattern": "[a-zA-Z]([a-zA-Z0-9_])+",
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "format": "password",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "FunctionArn": {
                                            "description": "The function's Amazon Resource Name (ARN).",
                                            "pattern": "arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}(-gov)?-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_\\.]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
                                            "type": "string"
                                        },
                                        "FunctionName": {
                                            "description": "The name of the function.",
                                            "maxLength": 170,
                                            "minLength": 1,
                                            "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_\\.]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
                                            "type": "string"
                                        },
                                        "Handler": {
                                            "description": "The function that Lambda calls to begin executing your function.",
                                            "maxLength": 128,
                                            "pattern": "[^\\s]+",
                                            "type": "string"
                                        },
                                        "KMSKeyArn": {
                                            "description": "The KMS key that's used to encrypt the function's environment variables. This key is only returned if you've configured a customer-managed CMK.",
                                            "pattern": "(arn:(aws[a-zA-Z-]*)?:[a-z0-9-.]+:.*)|()",
                                            "type": "string"
                                        },
                                        "LastModified": {
                                            "description": "The date and time that the function was last updated, in <a href=\"https://www.w3.org/TR/NOTE-datetime\">ISO-8601 format</a> (YYYY-MM-DDThh:mm:ss.sTZD).",
                                            "type": "string"
                                        },
                                        "Layers": {
                                            "description": "The function's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\"> layers</a>.",
                                            "items": {
                                                "description": "An <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layer</a>.",
                                                "properties": {
                                                    "Arn": {
                                                        "description": "The Amazon Resource Name (ARN) of the function layer.",
                                                        "maxLength": 140,
                                                        "minLength": 1,
                                                        "pattern": "arn:[a-zA-Z0-9-]+:lambda:[a-zA-Z0-9-]+:\\d{12}:layer:[a-zA-Z0-9-_]+:[0-9]+",
                                                        "type": "string"
                                                    },
                                                    "CodeSize": {
                                                        "description": "The size of the layer archive in bytes.",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "MasterArn": {
                                            "description": "For Lambda@Edge functions, the ARN of the master function.",
                                            "pattern": "arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}(-gov)?-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
                                            "type": "string"
                                        },
                                        "MemorySize": {
                                            "description": "The memory that's allocated to the function.",
                                            "maximum": 3008,
                                            "minimum": 128,
                                            "type": "integer"
                                        },
                                        "RevisionId": {
                                            "description": "The latest updated revision of the function or alias.",
                                            "type": "string"
                                        },
                                        "Role": {
                                            "description": "The function's execution role.",
                                            "pattern": "arn:(aws[a-zA-Z-]*)?:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                            "type": "string"
                                        },
                                        "Runtime": {
                                            "description": "The runtime environment for the Lambda function.",
                                            "enum": [
                                                "nodejs",
                                                "nodejs4.3",
                                                "nodejs6.10",
                                                "nodejs8.10",
                                                "java8",
                                                "python2.7",
                                                "python3.6",
                                                "python3.7",
                                                "dotnetcore1.0",
                                                "dotnetcore2.0",
                                                "dotnetcore2.1",
                                                "nodejs4.3-edge",
                                                "go1.x",
                                                "ruby2.5",
                                                "provided"
                                            ],
                                            "type": "string"
                                        },
                                        "Timeout": {
                                            "description": "The amount of time that Lambda allows a function to run before stopping it.",
                                            "minimum": 1,
                                            "type": "integer"
                                        },
                                        "TracingConfig": {
                                            "description": "The function's AWS X-Ray tracing configuration.",
                                            "properties": {
                                                "Mode": {
                                                    "description": "The tracing mode.",
                                                    "enum": [
                                                        "Active",
                                                        "PassThrough"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Version": {
                                            "description": "The version of the Lambda function.",
                                            "maxLength": 1024,
                                            "minLength": 1,
                                            "pattern": "(\\$LATEST|[0-9]+)",
                                            "type": "string"
                                        },
                                        "VpcConfig": {
                                            "description": "The function's networking configuration.",
                                            "properties": {
                                                "SecurityGroupIds": {
                                                    "description": "A list of VPC security groups IDs.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "maxItems": 5,
                                                    "type": "array"
                                                },
                                                "SubnetIds": {
                                                    "description": "A list of VPC subnet IDs.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "maxItems": 16,
                                                    "type": "array"
                                                },
                                                "VpcId": {
                                                    "description": "The ID of the VPC.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "CodeStorageExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "Code": {},
                                    "Description": "",
                                    "FunctionName": "MyFunction",
                                    "Handler": "souce_file.handler_name",
                                    "MemorySize": 128,
                                    "Publish": true,
                                    "Role": "arn:aws:iam::123456789012:role/service-role/role-name",
                                    "Runtime": "nodejs8.10",
                                    "Timeout": 15,
                                    "VpcConfig": {}
                                },
                                "properties": {
                                    "Code": {
                                        "description": "The code for the function.",
                                        "properties": {
                                            "S3Bucket": {
                                                "description": "An Amazon S3 bucket in the same AWS Region as your function. The bucket can be in a different AWS account.",
                                                "maxLength": 63,
                                                "minLength": 3,
                                                "pattern": "^[0-9A-Za-z\\.\\-_]*(?<!\\.)$",
                                                "type": "string"
                                            },
                                            "S3Key": {
                                                "description": "The Amazon S3 key of the deployment package.",
                                                "maxLength": 1024,
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "S3ObjectVersion": {
                                                "description": "For versioned objects, the version of the deployment package object to use.",
                                                "maxLength": 1024,
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "ZipFile": {
                                                "description": "The base64-encoded contents of the deployment package. AWS SDK and AWS CLI clients handle the encoding for you.",
                                                "format": "password",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "DeadLetterConfig": {
                                        "description": "A dead letter queue configuration that specifies the queue or topic where Lambda sends asynchronous events when they fail processing. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/dlq.html\">Dead Letter Queues</a>.",
                                        "properties": {
                                            "TargetArn": {
                                                "description": "The Amazon Resource Name (ARN) of an Amazon SQS queue or Amazon SNS topic.",
                                                "pattern": "(arn:(aws[a-zA-Z-]*)?:[a-z0-9-.]+:.*)|()",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "Description": {
                                        "description": "A description of the function.",
                                        "maxLength": 256,
                                        "minLength": 0,
                                        "type": "string"
                                    },
                                    "Environment": {
                                        "description": "Environment variables that are accessible from function code during execution.",
                                        "properties": {
                                            "Variables": {
                                                "description": "Environment variable key-value pairs.",
                                                "items": {
                                                    "properties": {
                                                        "key": {
                                                            "format": "password",
                                                            "pattern": "[a-zA-Z]([a-zA-Z0-9_])+",
                                                            "type": "string"
                                                        },
                                                        "value": {
                                                            "format": "password",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "FunctionName": {
                                        "description": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>my-function</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
                                        "maxLength": 140,
                                        "minLength": 1,
                                        "pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}(-gov)?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
                                        "type": "string"
                                    },
                                    "Handler": {
                                        "description": "The name of the method within your code that Lambda calls to execute your function. The format includes the file name. It can also include namespaces and other qualifiers, depending on the runtime. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/programming-model-v2.html\">Programming Model</a>.",
                                        "maxLength": 128,
                                        "pattern": "[^\\s]+",
                                        "type": "string"
                                    },
                                    "KMSKeyArn": {
                                        "description": "The ARN of the AWS Key Management Service (AWS KMS) key that's used to encrypt your function's environment variables. If it's not provided, AWS Lambda uses a default service key.",
                                        "pattern": "(arn:(aws[a-zA-Z-]*)?:[a-z0-9-.]+:.*)|()",
                                        "type": "string"
                                    },
                                    "Layers": {
                                        "description": "A list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">function layers</a> to add to the function's execution environment. Specify each layer by its ARN, including the version.",
                                        "items": {
                                            "maxLength": 140,
                                            "minLength": 1,
                                            "pattern": "arn:[a-zA-Z0-9-]+:lambda:[a-zA-Z0-9-]+:\\d{12}:layer:[a-zA-Z0-9-_]+:[0-9]+",
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "MemorySize": {
                                        "description": "The amount of memory that your function has access to. Increasing the function's memory also increases its CPU allocation. The default value is 128 MB. The value must be a multiple of 64 MB.",
                                        "maximum": 3008,
                                        "minimum": 128,
                                        "type": "integer"
                                    },
                                    "Publish": {
                                        "description": "Set to true to publish the first version of the function during creation.",
                                        "type": "boolean"
                                    },
                                    "Role": {
                                        "description": "The Amazon Resource Name (ARN) of the function's execution role.",
                                        "pattern": "arn:(aws[a-zA-Z-]*)?:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                        "type": "string"
                                    },
                                    "Runtime": {
                                        "description": "The identifier of the function's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html\">runtime</a>.",
                                        "enum": [
                                            "nodejs",
                                            "nodejs4.3",
                                            "nodejs6.10",
                                            "nodejs8.10",
                                            "java8",
                                            "python2.7",
                                            "python3.6",
                                            "python3.7",
                                            "dotnetcore1.0",
                                            "dotnetcore2.0",
                                            "dotnetcore2.1",
                                            "nodejs4.3-edge",
                                            "go1.x",
                                            "ruby2.5",
                                            "provided"
                                        ],
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "A list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/tagging.html\">tags</a> to apply to the function.",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "Timeout": {
                                        "description": "The amount of time that Lambda allows a function to run before stopping it. The default is 3 seconds. The maximum allowed value is 900 seconds.",
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "TracingConfig": {
                                        "description": "Set <code>Mode</code> to <code>Active</code> to sample and trace a subset of incoming requests with AWS X-Ray.",
                                        "properties": {
                                            "Mode": {
                                                "description": "The tracing mode.",
                                                "enum": [
                                                    "Active",
                                                    "PassThrough"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "VpcConfig": {
                                        "description": "For network connectivity to AWS resources in a VPC, specify a list of security groups and subnets in the VPC. When you connect a function to a VPC, it can only access resources and the internet through that VPC. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/vpc.html\">VPC Settings</a>.",
                                        "properties": {
                                            "SecurityGroupIds": {
                                                "description": "A list of VPC security groups IDs.",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "maxItems": 5,
                                                "type": "array"
                                            },
                                            "SubnetIds": {
                                                "description": "A list of VPC subnet IDs.",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "maxItems": 16,
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "FunctionName",
                                    "Runtime",
                                    "Role",
                                    "Handler",
                                    "Code"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/2015-03-31/functions/": {
            "get": {
                "description": "<p>Returns a list of Lambda functions, with the version-specific configuration of each.</p> <p>Set <code>FunctionVersion</code> to <code>ALL</code> to include all published versions of each function in addition to the unpublished version. To get more information about a function or version, use <a>GetFunction</a>.</p>",
                "operationId": "ListFunctions",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "MaxItems",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "Marker",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of Lambda functions.",
                                    "example": {
                                        "Functions": [],
                                        "NextMarker": ""
                                    },
                                    "properties": {
                                        "Functions": {
                                            "description": "A list of Lambda functions.",
                                            "items": {
                                                "description": "Details about a function's configuration.",
                                                "example": {
                                                    "CodeSha256": "LQT+0DHxxxxcfwLyQjzoEFKZtdqQjHXanlSdfXBlEW0VA=",
                                                    "CodeSize": 123,
                                                    "Description": "",
                                                    "FunctionArn": "arn:aws:lambda:us-west-2:123456789012:function:myFunction",
                                                    "FunctionName": "myFunction",
                                                    "Handler": "index.handler",
                                                    "LastModified": "2016-11-21T19:49:20.006+0000",
                                                    "MemorySize": 128,
                                                    "Role": "arn:aws:iam::123456789012:role/lambda_basic_execution",
                                                    "Runtime": "python2.7",
                                                    "Timeout": 123,
                                                    "Version": "1",
                                                    "VpcConfig": {}
                                                },
                                                "properties": {
                                                    "CodeSha256": {
                                                        "description": "The SHA256 hash of the function's deployment package.",
                                                        "type": "string"
                                                    },
                                                    "CodeSize": {
                                                        "description": "The size of the function's deployment package, in bytes.",
                                                        "type": "integer"
                                                    },
                                                    "DeadLetterConfig": {
                                                        "description": "The function's dead letter queue.",
                                                        "properties": {
                                                            "TargetArn": {
                                                                "description": "The Amazon Resource Name (ARN) of an Amazon SQS queue or Amazon SNS topic.",
                                                                "pattern": "(arn:(aws[a-zA-Z-]*)?:[a-z0-9-.]+:.*)|()",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Description": {
                                                        "description": "The function's description.",
                                                        "maxLength": 256,
                                                        "minLength": 0,
                                                        "type": "string"
[...]
